*{
    margin:0;
    padding:0;
}
.grid-container{
    display: grid;
}
.grid-item-header{
    display: grid;
    place-items: center;
    padding: 2rem;
    background-color: burlywood;
    grid-template-columns: repeat(3, 1fr);
}

.cart{
    width: 50px;
    cursor: pointer;
}

.logo{
    width: 50px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}